h1 {
  text-align: center;
}

main {
  height: 800px;
  background-image: url('./assets/background.jpg');
  background-position: center;
}



.hidden {
  display: none;
}

.card {
  height: 250px;
  margin: 20px;
}

.card-front, .card-back {
  height: 100%;
}
